absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1615404881292/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1614280873252/work
antlr4-python3-runtime==4.9.3
anyio @ file:///home/conda/feedstock_root/build_artifacts/anyio_1620700919192/work/dist
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
argcomplete==1.12.3
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1610522577486/work
async-generator==1.10
async-timeout==3.0.1
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1605083924122/work
backcall==0.2.0
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
black==21.4b2
blazingsql==0.19.0
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1612213472466/work
blinker==1.4
bokeh @ file:///home/conda/feedstock_root/build_artifacts/bokeh_1606141204355/work
brotlipy==0.7.0
bsql-engine==0.6
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1611555765219/work
certifi==2021.10.8
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1613413867554/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1610093487176/work
click==8.1.3
click-plugins==1.1.1
cligj @ file:///home/conda/feedstock_root/build_artifacts/cligj_1605902088619/work
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
colorcet @ file:///home/conda/feedstock_root/build_artifacts/colorcet_1611108405642/work
confluent-kafka==1.5.0
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1616851478755/work
cudf==0.19.2
cudf-kafka==0.19.2
cugraph==0.19.0+0.gd72b90b0.dirty
cuml==0.19.0
cupy @ file:///home/conda/feedstock_root/build_artifacts/cupy_1616849652852/work
cupy-cuda102==10.5.0
cusignal==0.19.0
cuspatial==0.19.0
custreamz==0.19.2
cuxfilter==0.19.1
cycler==0.10.0
Cython==0.29.30
cytoolz==0.11.0
dask @ file:///tmp/build/80754af9/dask-core_1617390489108/work
dask-cuda==0.19.0
dask-cudf==0.19.2
datashader @ file:///home/conda/feedstock_root/build_artifacts/datashader_1597664023361/work
datashape==0.5.4
debugpy==1.4.1
decorator==5.0.9
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
detectron2==0.6+cu102
distributed @ file:///home/conda/feedstock_root/build_artifacts/distributed_1617397479102/work
einops @ file:///home/conda/feedstock_root/build_artifacts/einops_1602792478173/work
entrypoints==0.3
fairscale==0.4.6
fastavro @ file:///home/conda/feedstock_root/build_artifacts/fastavro_1618617034076/work
fastrlock==0.6
Fiona==1.8.19
fsspec @ file:///tmp/build/80754af9/fsspec_1617959894824/work
future @ file:///home/conda/feedstock_root/build_artifacts/future_1610147336439/work
fvcore==0.1.5.post20220512
GDAL==3.2.2
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1594925563431/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1617123880036/work
google-auth-oauthlib==0.4.1
greenlet @ file:///home/conda/feedstock_root/build_artifacts/greenlet_1620327499468/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1617837744887/work
HeapDict==1.0.1
hydra-core==1.2.0
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
imageio @ file:///tmp/build/80754af9/imageio_1617700267927/work
importlib-metadata==4.7.1
importlib-resources==5.8.0
iopath==0.1.9
ipykernel==6.2.0
ipython==7.26.0
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1609995587151/work
IQA-pytorch==0.1
jedi==0.18.0
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1612119311452/work
joblib @ file:///tmp/build/80754af9/joblib_1613502643832/work
JPype1 @ file:///home/conda/feedstock_root/build_artifacts/jpype1_1609762670792/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema_1614815863336/work
jupyter-client==7.0.1
jupyter-core==4.7.1
jupyter-server @ file:///home/conda/feedstock_root/build_artifacts/jupyter_server_1620870788813/work
jupyter-server-proxy @ file:///home/conda/feedstock_root/build_artifacts/jupyter-server-proxy_1615918826346/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1601375948261/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1609173350931/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1610099773791/work
llvmlite==0.36.0
locket==0.2.1
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1614595805172/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1610127564475/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1611858709932/work
matplotlib-inline==0.1.2
mistune @ file:///home/conda/feedstock_root/build_artifacts/mistune_1610112870915/work
mkl-fft==1.3.0
mkl-random==1.2.0
mkl-service==2.3.0
modelsummary==1.1.7
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1610121710380/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1610319002430/work
multipledispatch==0.6.0
munch==2.5.0
mypy-extensions==0.4.3
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1614336084111/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert_1605401831777/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1617383142101/work
nest-asyncio==1.5.1
netifaces @ file:///home/conda/feedstock_root/build_artifacts/netifaces_1610709808107/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1617499744980/work
nose==1.3.7
notebook @ file:///tmp/build/80754af9/notebook_1616443455024/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1616707886433/work
numpy @ file:///tmp/build/80754af9/numpy_and_numpy_base_1603479632437/work
nvtx @ file:///home/conda/feedstock_root/build_artifacts/nvtx_1612462195514/work
oauthlib==3.0.1
object-detection==0.1
olefile @ file:///home/conda/feedstock_root/build_artifacts/olefile_1602866521163/work
omegaconf==2.2.2
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1612459636436/work
pandas==1.2.4
pandocfilters==1.4.2
panel @ file:///home/conda/feedstock_root/build_artifacts/panel_1610991450506/work
param @ file:///home/conda/feedstock_root/build_artifacts/param_1610122395674/work
parso==0.8.2
partd @ file:///tmp/build/80754af9/partd_1618000087440/work
pathspec==0.9.0
pexpect==4.8.0
pickle5 @ file:///home/conda/feedstock_root/build_artifacts/pickle5_1592859247555/work
pickleshare==0.7.5
Pillow @ file:///tmp/build/80754af9/pillow_1617386154241/work
platformdirs==2.5.2
portalocker==2.3.2
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1617909193315/work
prompt-toolkit==3.0.20
protobuf==3.15.8
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1610127094245/work
ptyprocess==0.7.0
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycocotools==2.0.4
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
pyct==0.4.6
pydeck @ file:///home/conda/feedstock_root/build_artifacts/pydeck_1603714958102/work
pydot==1.4.2
pyee @ file:///home/conda/feedstock_root/build_artifacts/pyee_1601273176314/work
Pygments==2.10.0
PyHive @ file:///home/conda/feedstock_root/build_artifacts/pyhive_1611608075089/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1617199158555/work
pynvml @ file:///home/conda/feedstock_root/build_artifacts/pynvml_1594169898909/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==2.4.7
pyppeteer @ file:///home/conda/feedstock_root/build_artifacts/pyppeteer_1600514859019/work
pyproj @ file:///home/conda/feedstock_root/build_artifacts/pyproj_1614934912533/work
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1610146801408/work
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1610291444829/work
python-dateutil==2.8.2
pytorch-fid==0.2.1
pytorch-model-summary @ file:///home/conda/feedstock_root/build_artifacts/pytorch-model-summary_1598394892458/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1612179539967/work
pyviz-comms @ file:///home/conda/feedstock_root/build_artifacts/pyviz_comms_1609149992420/work
PyWavelets @ file:///tmp/build/80754af9/pywavelets_1601658308664/work
PyYAML==5.1
pyzmq==22.2.1
regex==2022.6.2
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1595492159598/work
rmm==0.19.0
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1614171254180/work
Rtree @ file:///home/conda/feedstock_root/build_artifacts/rtree_1610147121172/work
sasl==0.2.1
scikit-image==0.18.1
scikit-learn @ file:///tmp/build/80754af9/scikit-learn_1621370326158/work
scipy @ file:///tmp/build/80754af9/scipy_1616700973326/work
Send2Trash==1.5.0
Shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1613142336075/work
simpervisor @ file:///home/conda/feedstock_root/build_artifacts/simpervisor_1609865618711/work
six==1.16.0
sniffio @ file:///home/conda/feedstock_root/build_artifacts/sniffio_1610318316464/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
SQLAlchemy @ file:///home/conda/feedstock_root/build_artifacts/sqlalchemy_1620731144396/work
streamz @ file:///home/conda/feedstock_root/build_artifacts/streamz_1610721354525/work
tabulate==0.8.10
tblib @ file:///home/conda/feedstock_root/build_artifacts/tblib_1616261298899/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1610699261066/work/tensorboard-2.4.1-py3-none-any.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1611075653546/work/tensorboard_plugin_wit-1.8.0-py3-none-any.whl
termcolor==1.1.0
terminado @ file:///home/conda/feedstock_root/build_artifacts/terminado_1617048648819/work
testpath==0.4.4
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
thrift @ file:///home/conda/feedstock_root/build_artifacts/thrift_1614958308644/work
thrift-sasl==0.4.2
tifffile==2020.10.1
timm==0.5.4
toml==0.10.2
tomli==2.0.1
toolz @ file:///home/linux1/recipes/ci/toolz_1610987900194/work
torch==1.10.0
torch-encoding==1.2.1
torch-tb-profiler==0.2.0
torchaudio==0.10.0
torchsummary==1.5.1
torchvision==0.11.1
tornado==6.1
tqdm @ file:///tmp/build/80754af9/tqdm_1615925068909/work
traitlets==5.0.5
treelite==1.1.0
treelite-runtime==1.1.0
typed-ast==1.5.4
typing-extensions==3.10.0.0
ucx-py @ file:///opt/conda/conda-bld/ucx-split_1619046668526/work/ucx-py
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1615828766818/work
wcwidth==0.2.5
webencodings==0.5.1
websocket-client @ file:///home/conda/feedstock_root/build_artifacts/websocket-client_1610127652206/work
websockets @ file:///home/conda/feedstock_root/build_artifacts/websockets_1610127466576/work
Werkzeug==1.0.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1605475530234/work
xarray @ file:///home/conda/feedstock_root/build_artifacts/xarray_1620335930423/work
xgboost @ file:///opt/conda/envs/rapids/conda-bld/xgboost_1619020757190/work/python-package
yacs==0.1.8
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1610354142409/work
zict==2.0.0
zipp==3.5.0
